//<INPUT>
// Сніппет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  width: 100%;
  display: block;
  @include adaptiveValue("padding-left", 50, 20, 0, 1530, 767);
  @include adaptiveValue("padding-right", 50, 20, 0, 1530, 767);
  border: 1px solid #eee;
  border-radius: 20px;
  background: #e2e8fb;

  color: #011242;
  font-family: "Inter Tight";
  @include adaptiveValue("font-size", 24, 18);
  font-weight: 600;
  line-height: 130%; /* 31.2px */

  @include adaptiveValue("height", 100, 58);

  &._form-focus {
  }
  &._form-error {
  }
  &::placeholder {
    color: #011242;
  }

  &:focus {
    outline: none;
    border-color: #011242;
  }

  &_light {
    background-color: #f0f3fc;
  }
}
.input[placeholder]:not([data-placeholder-nohiden]) {
  &::placeholder {
    transition: opacity 0.3s;
  }
  &:focus::placeholder {
    opacity: 0;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}
