//====================================================================================================

.hero {
  @include adaptiveValue("padding-bottom", 80, 40);
  &__container {
  }

  &__body {
    position: relative;
    border-radius: 30px;
    background: #fff;

    @media (min-width: $mobile) {
      overflow: hidden;
    }

    @media (max-width: $mobile) {
      min-height: toRem(470);
      padding-bottom: toRem(30);
      margin: 0 toRem(-15);
    }
  }

  &__title {
    color: #011242;
    @include adaptiveValue("font-size", 100, 40);
    font-weight: 600;
    line-height: 100%; /* 100px */

    max-width: toRem(770);
    // margin-bottom: toRem(30);
  }

  &__text {
    max-width: toRem(770);

    @include adaptiveValue("font-size", 24, 20);
    font-weight: 400;
    line-height: 130%; /* 31.2px */

    margin-bottom: toRem(30);
  }

  &__button {
    margin-top: auto;
    width: max-content;

    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: toRem(30);

    @include adaptiveValue("padding-top", 80, 50, 0, 1530, 991);
    @include adaptiveValue("padding-bottom", 50, 15, 0, 1530, 767);
    @include adaptiveValue("padding-left", 50, 15, 0, 1530, 767);
    @include adaptiveValue("padding-right", 50, 15, 0, 1530, 767);

    min-height: toRem(600);

    @media (max-width: $mobile) {
      min-height: toRem(300);
      padding-bottom: toRem(35);
    }
  }

  &__sliders {
    pointer-events: none;
    background: #fff;
    display: flex;
    gap: toRem(10);

    @media (max-width: $mobile) {
      // display: none;
      flex-direction: column;
      // margin: 0 toRem(-15);
    }
    @media (min-width: $mobile) {
      position: absolute;
      width: percent(470, 1500);
      height: 100%;
      top: 0;
      @include adaptiveValue("right", 50, 15, 0, 1530, 767);
      z-index: 1;
    }
  }

  &__slider {
    @media (min-width: $mobile) {
      width: calc(33% - 3.5px);
    }

    @media (max-width: $mobile) {
      &:first-child {
        // display: none;
      }
      display: none;
    }

    &_mob {
      @media (max-width: $mobile) {
        display: block;
      }
      @media (min-width: $mobile) {
        display: none;
      }
    }
  }

  &__wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  &__slide {
    background: rgba(94, 125, 219, 0.3);
    border-radius: 20px;
    overflow: hidden;

    @media (max-width: $mobile) {
      max-width: toRem(150);
    }

    img {
      max-width: 100%;
    }
  }
}

//====================================================================================================
.text-block {
  @include adaptiveValue("padding-top", 80, 40);
  @include adaptiveValue("padding-bottom", 80, 40);
  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    column-gap: toRem(20);
    row-gap: toRem(20);

    @media (max-width: $mobile) {
      flex-direction: column;
      align-self: flex-start;
    }
  }

  &__title {
  }

  &__text {
    flex: 0 0 percent(583, 1500);
  }
}

//========================================================================================================================================================

.numbers {
  @include adaptiveValue("padding-top", 80, 40);
  @include adaptiveValue("padding-bottom", 80, 40);
  &__container {
  }

  &__items {
    display: grid;
    column-gap: toRem(20);
    row-gap: toRem(15);
    @media (min-width: $mobile) {
      //   grid-template-columns: repeat(auto-fill, minmax(toRem(450), 1fr));
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    border-radius: 20px;
    background: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(20);
    text-align: center;
    padding-right: toRem(15);
    padding-left: toRem(15);

    @include adaptiveValue("padding-top", 50, 25);
    @include adaptiveValue("padding-bottom", 50, 25);
  }

  &__title {
    span {
      color: #011242;
    }
  }

  &__text {
  }
}
.title {
}
.text {
}

//========================================================================================================================================================

.service-block {
  @include adaptiveValue("padding-top", 80, 40);
  @include adaptiveValue("padding-bottom", 80, 40);
  &__container {
  }

  &__maintitle {
    @include adaptiveValue("margin-bottom", 80, 40);
  }

  &__items {
    display: grid;
    gap: toRem(20);

    @media (min-width: $tablet) {
      grid-template-columns: repeat(4, 1fr);
    }
    grid-template-columns: repeat(auto-fill, minmax(toRem(340), 1fr));
  }

  &__item {
    border-radius: 20px;
    background: #fff;

    padding: toRem(50) toRem(20) toRem(25);

    @media (max-width: $tablet) {
      padding-top: toRem(30);
    }
  }

  &__ico {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__text {
    color: rgba(1, 18, 66, 0.5);
  }
}

//========================================================================================================================================================

.unique {
  @include adaptiveValue("padding-top", 80, 40);
  @include adaptiveValue("padding-bottom", 80, 40);

  &_white {
    .unique__body {
      background-color: #fff;
    }
  }
  &__container {
  }

  &__body {
    border-radius: 20px;
    background: rgba(94, 125, 219, 0.3);

    @include adaptiveValue("padding-top", 50, 30, 0, 1530, 991);
    @include adaptiveValue("padding-bottom", 50, 30, 0, 1530, 767);
    @include adaptiveValue("padding-left", 50, 15, 0, 1530, 767);
    @include adaptiveValue("padding-right", 50, 15, 0, 1530, 767);
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
    max-width: toRem(1115);
  }

  &__text {
    max-width: toRem(978);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__button {
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

//========================================================================================================================================================

.leaders {
  @include adaptiveValue("padding-top", 80, 40);
  @include adaptiveValue("padding-bottom", 80, 40);
  &__container {
  }

  &__body {
    border-radius: 20px;
    background: #2652cf;

    @include adaptiveValue("padding-top", 50, 30, 0, 1530, 991);
    @include adaptiveValue("padding-bottom", 50, 30, 0, 1530, 767);
    @include adaptiveValue("padding-left", 50, 15, 0, 1530, 767);
    @include adaptiveValue("padding-right", 50, 15, 0, 1530, 767);
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
    max-width: toRem(1115);
  }

  &__text {
    max-width: toRem(955);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 30);
    }
  }

  &__items {
    display: grid;
    gap: toRem(20);

    @media (min-width: $mobile) {
      grid-template-columns: repeat(auto-fill, minmax(toRem(600), 1fr));
    }

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__button {
    background: rgba(255, 255, 255, 0.4);
    width: 100%;

    @media (any-hover: hover) {
      &:hover {
        background-color: #fff;
        color: #2652cf;
      }
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding-bottom: percent(345, 690);

    @media (max-width: $mobile) {
      padding-bottom: percent(220, 345);
    }
  }

  &__item-img-ibg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.25;
  }

  &__item-text {
    @include adaptiveValue("font-size", 24, 18);

    position: absolute;
    width: 100%;
    height: 100%;
    @include adaptiveValue("padding-left", 50, 15, 0, 1530, 767);
    @include adaptiveValue("padding-right", 50, 15, 0, 1530, 767);
    @include adaptiveValue("padding-bottom", 50, 15, 0, 1530, 767);
    @include adaptiveValue("padding-top", 50, 15, 0, 1530, 767);
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__item-title {
    position: absolute;
    width: 100%;
    height: 100%;
    @include adaptiveValue("padding-left", 50, 15, 0, 1530, 767);
    @include adaptiveValue("padding-right", 50, 15, 0, 1530, 767);
    @include adaptiveValue("padding-bottom", 50, 15, 0, 1530, 767);
    @include adaptiveValue("padding-top", 50, 15, 0, 1530, 767);
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: #fff;
    @include adaptiveValue("font-size", 39, 20);
    font-weight: 600;
    line-height: 120%; /* 46.8px */
  }
}

//========================================================================================================================================================

.contact {
  @include adaptiveValue("padding-top", 80, 40);
  @include adaptiveValue("padding-bottom", 80, 40);

  &_blue {
    .contact__body {
      background-color: #2652cf;
    }
    .contact__title {
      color: #fff;
      max-width: toRem(493);
    }
    .contact__text {
      color: #fff;
    }
  }
  &__container {
  }

  &__body {
    display: flex;
    justify-content: space-between;
    gap: toRem(20);

    border-radius: 20px;
    background: #fff;

    @include adaptiveValue("padding-top", 50, 30, 0, 1530, 991);
    @include adaptiveValue("padding-bottom", 100, 30, 0, 1530, 767);
    @include adaptiveValue("padding-left", 50, 15, 0, 1530, 767);
    @include adaptiveValue("padding-right", 50, 15, 0, 1530, 767);

    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__content {
  }

  &__maintitle {
    @include adaptiveValue("font-size", 100, 40, 0, 1530, 991);
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 20);
    }
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 50, 20);
    }
  }

  &__text {
    max-width: toRem(493);
  }

  &__form {
    flex: 0 0 percent(690, 1500);
  }
}

.form-contact {
  &__input {
    margin-bottom: toRem(10);
  }

  &__button {
    width: 100%;
    margin-top: toRem(10);
  }
}
